.App {
  text-align: center;
}

.App-logo {
  height: 70px;
  float: left;
}

.App-header {
  background-color: #FBD738;
  height: 70px;
  padding: 10px;
  color: black;
  text-align: left;
  
}

.App-header a {
  color: black;
  padding: 0 5px;
}

.App-title {
  font-size: 2em;
  float: left;
}

.App-intro {
  font-size: large;
}

.Nav {
  text-align: center;
}

.ProfilePhoto {
  height: 50px;
}

.ProfileCard {
  border: 1px solid black; 
  width: 100px;
  margin: 20px;
  float: left;
}

.Players {
  float: left;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
