
.ProfilePhoto {
  height: 50px;
}

.ProfileCard {
  margin: 20px;
  float: left;
}

.PlayersNearMe {
  text-align: center; 
}

.center-players {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

